
a {
    color: #006D21;
    transition: color #DF0000;
}

a:hover {
    color: #DF0000
}

.logo {
    position: relative;
    width:200px;
    height:auto;
}
.header {
    background-color: white;
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.btn.btn-primary{
    background-color: #006D21;
}

.btn.btn-primary:hover{
        color: #DF0000;
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 50px;
    margin-bottom: 50px;
}

.h1{
    margin-bottom: 20px;
}

.h2{
    margin-bottom: 30px;
}

ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.image-container {
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    font-size: 25px;
    color: red;
}

div.a {
    text-align: justify
}

h1{
    color: #006D21
}
